<p id="notice"><%= notice %></p>

<h1>All Orders</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Orders</th>
    </tr>
  </thead>

  <tbody>
    <% @vendor_orders.each do |vendor_order| %>
      <tr>
        <td><%= vendor_order.created_at %> | </td>
        
        <td> <%= link_to 'Show', your_order_path(id: vendor_order.id), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>

<div>
  <%= link_to "Back", :back %>
</div>
