<div class="center">
  
  <div class='capston'>
    <h1>Capstone</h1>
  </div>

  <div class="row main_text_link">
    <%= link_to new_vendor_session_path do %>
      <div class="col-md-5 left"><p>Vendor Log In</p></div>
    <% end %>

    <div class="col-md-2"></div>

    <%= link_to new_user_session_path do %>
      <div class="col-md-5 right"><p>User Log In</p></div> 
    <% end %>  
  </div>

</div>