
  </br>

  <%= render 'items/nav' %>

  <h1>Vendors</h1>

  </br>
   
  <%= link_to "Switch to all products", all_items_all_path, class: 'btn btn-success' %> 

  <div class="row">
    <div class="col-md-12">
      
      <% @vendors.each do |vendor| %>
        <div class="media">
          <div class="media-body"> 

            <h4 class="media-heading col-md-3">
              <%= vendor.name %>
            </h4>

            <%= link_to "Vendor products", vendor_items_path(vendor), class: 'btn btn-success' %>

          </div>
        </div>


        </br>
        
      <% end %>

    </div>
  </div>

