<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Cart</h2>

<%= button_to "Empty cart", @cart, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-success' %>

</br>

<%= render 'cart' %>

</br>

<%= button_to "Place an order", new_order_path, method: :get, class: 'btn btn-success' %>

