/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: #A8A8A8;
}

.btn-success {
  background: #CCFF00;
  color: black;
  border: none;
}

.center {
  text-align: center;
}

.text-muted {
  color: white;
}

.main_nav {
  background: #CCFF00;
  border: none;
}

.text_nav {
  color: #A0A0A0;
  text-decoration: none;
}

.text_nav :visited {
  color: #A0A0A0;
  text-decoration: none;
}

.text_nav :hover {
  color: #C8C8C8;
  text-decoration: none;
}