// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
}

.capston {
  margin-top: 150px;
  background: #CCFF00;
  border: solid, #CCFF00;
}
.row {
  margin-top: 150px;
}

.left {
  border: solid, #CCFF00;
  background: #CCFF00;
}

.right {
  border: solid, #CCFF00;
  background: #CCFF00;
}

p {
  font-size: 22px;
}
